{% extends 'base.html.twig' %}
{% block main %}
<h1 class="text-info mb-5 mt-4">Welcome (no scam btw)</h1>

<div>
    <img src="https://piedaterrereizen.nl/wp-content/uploads/D810_NEF_3483.jpg" width="1200" height="900">
</div>
{% endblock %}